<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384991750224-rvr0g6ehb97l1comcnjhtkt7u0i3ve8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384991750224-rvr0g6ehb97l1comcnjhtkt7u0i3ve8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDA9tUiBgbSnPXCci7CLNhdYSsFVPWVn2w</string>
	<key>GCM_SENDER_ID</key>
	<string>384991750224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kyoi.Message-App</string>
	<key>PROJECT_ID</key>
	<string>message-app-f6d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>message-app-f6d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384991750224:ios:bd0abdcaf4e0b3aef10955</string>
</dict>
</plist>